
<div class="container">
  <div class="jumbotron" style="background-color: aquamarine;">
    <img src="../../assets/men hoodies/logo.png" style="padding-left: 40%;">
    <marquee style="font-size:large; color:black " > Season sale is on until 31st September!!  Hurry Up !</marquee>
  </div>
</div>

<div><app-nav></app-nav></div>

<router-outlet></router-outlet>

<!-- test -->

<!-- <app-admin></app-admin> 
<app-addproduct></app-addproduct>
   -->
   
<div style="padding-top: 250px;">
<footer>
  <p style="color: black;">Copyrights@2020:<br>
  <a href="infowaytechnologies.com">InfowayTechnologies</a></p>
</footer>
</div>


