<h3 style="text-align: center;">Add details of the product</h3>


<form  (ngSubmit)="addproduct()">
    
    <div style="padding-left: 30%; padding-top: 2.5%;">
    <div class="form-group" >
      <label for="barndname" class="col-md-2">Brand Name:</label>
      <input type="text" class="form-control" id="barndname"  class="col-md-4" placeholder="Enter Brand">
    </div>

    <div class="form-group" >
        <label for="size" class="col-md-2">Size:</label>
        <input type="text" class="form-control" id="size"  class="col-md-4" placeholder="Enter Size">
      </div>
    
    <div class="form-group" >
        <label for="color" class="col-md-2">Color:</label>
        <input type="text" class="form-control" id="color"  class="col-md-4" placeholder="Enter Color">
      </div>
    
    <div class="form-group" >
        <label for="price" class="col-md-2">Price:</label>
        <input type="text" class="form-control" id="price"  class="col-md-4" placeholder="Price">
    </div>

    <div style="padding-left: 120px;">
    <button type="submit" class="btn btn-primary" >Submit</button>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Clear</button>
    </div>
    
    
</div>
</form>