

<div>
<ul>
  <li><a routerLink="/home" class="active" >Home</a></li>
  <!-- <li><a href="#men">Men</a></li> -->
  <li><a routerLink="/home">NewArrivals</a></li>
  <li><a routerLink="/home" style="color: rgb(20, 58, 45); padding-left: 300px; font-size: larger;">CasualHai</a></li>
  <li  style="padding-top: 10px; padding-left: 100px;"><input type="text" placeholder="Search"></li>
  <li  style="padding-top: 10px;"><button type="submit" >Search</button></li>
  <li><a routerLink="/login" style="padding-left: px;">Login</a></li>
  <li><a href="#about" style="padding-left: px;">Cart</a></li>
</ul>
</div>

<div style="padding-top: 10px;"></div>

