


<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#men">Men</a></li>
  <li><a href="#women">Women</a></li>
  <li><a routerLink="/home" style="color: aquamarine; padding-left: 300px; font-size: larger;">CasualHai</a></li>
  <li  style="padding-top: 10px; padding-left: 100px;"><input type="text" placeholder="Search"></li>
  <li  style="padding-top: 10px;"><button type="submit" >Search</button></li>
  <li><a routerLink="/login" style="padding-left: px;">Login</a></li>
  <li><a href="#about" style="padding-left: px;">Cart</a></li>
</ul>
<div style="padding-top: 10px;"></div>
